/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
}

.mat-toolbar-row {
  min-height: 50px !important;
  height: 50px !important;
}
