body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  // flex: 1 0 auto;

  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  position: relative;
  padding: 10px;
  // padding-top: 10px;
  // padding-bottom: 0px;
  // background-color: gold;
  // margin: 25px;
  margin-bottom: 50px;
  z-index: 20;

  background-color:rgb(216, 216, 216);
  // margin-left: 12px;

}

mat-sidenav{
  border-right:0px;
  box-shadow:  2px 0 6px rgba(0,0,0,0.30);
}

.floating {
  float: none;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: grey;
  z-index: 200000;

}
