<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="isExpanded" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()" (menuButtonClick)="onShowHideSideBar()">
    <simples-sidenav (sideNavClosed)="onShowHideSideBar()" [menuItens]="appitems"></simples-sidenav>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">

    <div class="header">
      <simples-header-mobile (sideNavClosed)="onShowHideSideBar()">
      </simples-header-mobile>
    </div>



    <main class="container mat-app-background">
      <p> {{navigationLoading$ | async}}
      </p>
      <!-- <app-loader *ngIf="navigationLoading$ | async"></app-loader> -->

      <router-outlet></router-outlet>
    </main>

    <div class="footer">
      <simples-footer-mobile (sideNavClosed)="onShowHideSideBar()">
      </simples-footer-mobile>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
